@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(90deg, #ffffff,#adecff);background: linear-gradient(90deg, #ffffff,#adecff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > * {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 54px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
}

.form-label {
    text-align: center;
    font-size: 25px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form > * {
    margin: 15px 0
}

#town {
    font-size: 25px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    all: unset();
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    padding: 10px;
    transition: all ease 0.2s;
}

button:hover {
    cursor: pointer;
    transform: scaleX(1.2);
}

.result {
    font-size: 25px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fact {
    font-size: 20px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1% 10%;
}

h6 {
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#progress-container {
    width: 50%;
    height: 30px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    display: none;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: black;
    transition: width 0.1s linear;
}